<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    </head>
    <body class="container p-3">
        <h1><%= title %></h1>
        <p id="msg" class="h4"><%- message %></p>
    </body>
</html>