<%-include('./layout/header') %>

<p class="text-center" id="testmove">私のトップページへようこそ。</p>
<script>
    var p=document.querySelector("#testmove");
    setTimeout(function(){
        p.textContent="ようこそ";
    },3000);
</script>

<%-include("./index/index_content")%>

<%-include('./layout/footer') %>