<ul class="navbar-nav">
    <li class="nav-item active">
    <a class="navbar-brand" href="/">1、トップページ</a>
    </li>
    <li class="nav-item active">
    <a class="navbar-brand" href="/hello">2、ブログページ</a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="/applepage">3、作ったアプリ一覧</a>
    </li>
</ul>